:root {
  --dark: #112c2e;
  --dark-l: #1b3e41;
  --yellow: #f4ec80;
  --yellow-l: #ebe7a3;
  --light: #f2f2dd;
  --silver: #b1b18d;
}

body {
  font-family: Georgia, sans-serif;
  background: var(--dark);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
ul {
  list-style: none;
  padding: 0 30px;
}
.content {
  display: flex;
  flex: 1;
}
.filter {
  color: var(--light);
  display: flex;
  border-right: 1px solid var(--yellow-l);
  ul {
  }
  li {
    min-width: 70px;
    padding: 8px;
    cursor: pointer;
  }
  li:hover {
    background: var(--dark-l);
    border-radius: 3px;
  }
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
  padding: 15px;
  border-top: 1px solid var(--yellow-l);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px;
  margin-top: 15px;
  align-content: start;
}

.card-box {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0 auto 0 0;
  width: 100%;
  /* max-width: 1024px; */

  padding: 21px 16px;
}

h2 {
  text-align: center;
  color: var(--yellow);
}

.btn {
  margin: 0 auto;
  padding: 8px 12px;
  width: max-content;
  min-width: 50px;
  background: var(--yellow);
  border: 1px solid transparent;
  border-radius: 8px;
  color: var(--dark-l);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 0 2px var(--yellow-l);
  background: var(--yellow-l);
}

.head {
  display: flex;
  justify-content: center;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  min-height: 50px;
  font-size: 40px;
  border-bottom: 1px solid var(--yellow);
  box-shadow: 0 0 2px var(--yellow-l);
  border-color: var(--yellow-l);
  align-items: center;
  color: var(--yellow-l);
}

.infoCard {
  width: 400px;
  border-left: 1px solid var(--yellow-l);
}

.card {
  background: var(--dark);
  border: 2px solid var(--yellow);
  padding: 15px 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  flex: 1;
  /* width: 100%; */
  /* max-width: calc(100% / 4 - 10px); */
  min-width: 250px;
  max-width: 50%;
  color: var(--light);
}

.card:hover {
  box-shadow: 0 0 2px var(--yellow);
  background: var(--dark-l);
}

.card > h3 {
  border-bottom: 1px solid var(--yellow);
  margin: 0;
  padding: 10px;
}
.card > p {
  padding: 10px;
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-form input,
.card-form textarea {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 5px solid var(--yellow);
  background-color: var(--dark);
  color: var(--light);
  font-size: 16px;
}
.input:placeholder {
  color: var(--yellow);
}
textarea::placeholder,
input::placeholder {
  color: var(--silver);
}
